In [1]:
import pandas as pd

file_path = "./dataset/dataset.csv"

In [2]:
df = pd.read_csv(file_path)

# understand the structure
df.info(), df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540884 non-null  object
 3   Quantity     541909 non-null  object
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  object
 6   CustomerID   433909 non-null  object
 7   Country      541909 non-null  object
dtypes: object(8)
memory usage: 33.1+ MB

(None,
   InvoiceNo StockCode                           Description Quantity  \
 0    536365    85123A    WHITE HANGING HEART T-LIGHT HOLDER        6
 1    536365     71053                   WHITE METAL LANTERN        6
 2    536365  ö84406B^        CREAM CUPID HEARTS COAT HANGER        8
 3    536365    84029G  $KNITTED UNION FLAG HOT WATER BOTTLE       6@
 4    536365    84029E       $RED WOOLLY HOTTIE WHITE HEART.       6@

            InvoiceDate UnitPrice CustomerID              Country
 0  2010-12-01 08:26:00      2.55    17850.0  XxYUnited Kingdom☺️
 1  2010-12-01 08:26:00      3.39    17850.0       United Kingdom
 2  2010-12-01 08:26:00      2.75  &17850.0#  XxYUnited Kingdom☺️
 3  2010-12-01 08:26:00      3.39    17850.0       United Kingdom
 4  2010-12-01 08:26:00      3.39  &17850.0#       United Kingdom  )

In [3]:
# country and quantity is messed up

In [4]:
# step 2
import numpy as np

# Remove duplicates
df_cleaned = df.drop_duplicates()

# Handle missing values
df_cleaned = df_cleaned.dropna(subset=['Description'])  # Remove rows where Description is missing

# Convert data types
df_cleaned['Quantity'] = pd.to_numeric(df_cleaned['Quantity'], errors='coerce')  # Convert to integer
df_cleaned['UnitPrice'] = pd.to_numeric(df_cleaned['UnitPrice'], errors='coerce')  # Convert to float
df_cleaned['CustomerID'] = pd.to_numeric(df_cleaned['CustomerID'], errors='coerce')  # Convert to float

# Convert InvoiceDate to datetime
df_cleaned['InvoiceDate'] = pd.to_datetime(df_cleaned['InvoiceDate'], errors='coerce')

# Standardize Description (lowercase, remove special characters)
df_cleaned['Description'] = df_cleaned['Description'].str.lower().str.replace(r'[^a-z0-9\s]', '', regex=True)

# Clean Country column (remove unusual characters)
df_cleaned['Country'] = df_cleaned['Country'].str.replace(r'[^a-zA-Z\s]', '', regex=True).str.strip()

# Clean StockCode column (remove special characters)
df_cleaned['StockCode'] = df_cleaned['StockCode'].str.replace(r'[^a-zA-Z0-9]', '', regex=True)

# Drop rows with missing critical numeric values after conversion
df_cleaned = df_cleaned.dropna(subset=['Quantity', 'UnitPrice', 'CustomerID'])

In [5]:
df_cleaned.info(), df_cleaned.head()

<class 'pandas.core.frame.DataFrame'>
Index: 155778 entries, 0 to 541905
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    155778 non-null  object
 1   StockCode    155778 non-null  object
 2   Description  155778 non-null  object
 3   Quantity     155778 non-null  float64
 4   InvoiceDate  155778 non-null  datetime64[ns]
 5   UnitPrice    155778 non-null  float64
 6   CustomerID   155778 non-null  float64
 7   Country      155778 non-null  object
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 10.7+ MB

(None,
   InvoiceNo StockCode                        Description  Quantity  \
 0    536365    85123A  white hanging heart tlight holder       6.0
 1    536365     71053                white metal lantern       6.0
 7   536366ä     22633             hand warmer union jack       6.0
 8   536366ä     22632          hand warmer red polka dot       6.0
 9   536367ä     84879      assorted colour bird ornament      32.0

           InvoiceDate  UnitPrice  CustomerID            Country
 0 2010-12-01 08:26:00       2.55     17850.0  XxYUnited Kingdom
 1 2010-12-01 08:26:00       3.39     17850.0     United Kingdom
 7 2010-12-01 08:28:00       1.85     17850.0     United Kingdom
 8 2010-12-01 08:28:00       1.85     17850.0  XxYUnited Kingdom
 9 2010-12-01 08:34:00       1.69     13047.0  XxYUnited Kingdom  )

In [7]:


# Further clean Country column by removing unintended prefixes like "XxY"
df_cleaned['Country'] = df_cleaned['Country'].str.replace(r'XxY', '', regex=True).str.strip()

# Remove non-standard characters from InvoiceNo
df_cleaned['InvoiceNo'] = df_cleaned['InvoiceNo'].str.replace(r'[^a-zA-Z0-9]', '', regex=True)

# Save the final cleaned dataset
final_cleaned_file_path = "./dataset/cleaned_dataset.csv"
df_cleaned.to_csv(final_cleaned_file_path, index=False)

# Display final sample
df_cleaned.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,white hanging heart tlight holder,6.0,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,white metal lantern,6.0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
7,536366,22633,hand warmer union jack,6.0,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,hand warmer red polka dot,6.0,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,536367,84879,assorted colour bird ornament,32.0,2010-12-01 08:34:00,1.69,13047.0,United Kingdom